.Collapse {
  margin: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 15px;
  max-height: 100%;
}

.CollapseContent {
  overflow: hidden;
  max-height: 100vh;
  transition: max-height 0.2s ease-in-out;
}

.hidden {
  max-height: 0;
}

.CollapseButton {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 10px;
  cursor: pointer;
  border: none;
  background: transparent;
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  transition: 0.5s;
  outline: none;
}

.CollapseButton:hover,
.CollapseButton:focus {
  text-decoration-color: rgba(0, 0, 0, 0.6);
}

.top {
  transition: 0.1s;
  transform: rotate(0);
}

.bottom {
  transition: 0.1s;
  transform: rotate(-180deg);
}
